{% assign certifications = site.data.data.sidebar.certifications %}
{% if certifications %}
<div class="certifications-container container-block">

  <h2 class="container-block-title">
    {{ certifications.title }}
  </h2>

    {% for certification in certifications.info %}
    <div class="item">
      <h5 class="certification">{{ certification.certification }}</h5>
        <a href="{{ certification.link }}" target="_blank">{{ certification.certification }}</a>
      <div class="issued">{{ certification.issued }}</div>
    </div><!--//item-->
    {% endfor %}

</div><!--//certifications-->
{% endif %}
