{% assign volunteering = site.data.data.sidebar.volunteering %}
{% if volunteering %}
<div class="volunteering-container container-block">

  <h2 class="container-block-title">
    {{ volunteering.title }}
  </h2>

    {% for volunteer in volunteering.info %}
    <div class="item">
      <h4 class="place">{{ volunteer.place }}</h4>
      <h5 class="details">{{ volunteer.details }}</h5>
      <div class="time">{{ volunteer.time }}</div>
    </div><!--//item-->
    {% endfor %}
#  <ul class="list-unstyled volunteering-list">
#    {% for volunteer in volunteering.info %}
#
#      {% if volunteer.link %}
#      <li><a href="{{ volunteer.link }}">{{ volunteer.item }}</a></li>
#      {% else %}
#      <li>{{ volunteer.item }}</li>
#      {% endif %}
#
#    {% endfor %}
#  </ul>

</div><!--//volunteering-->
{% endif %}
