{% assign volunteering = site.data.data.sidebar.volunteering %}
{% if volunteering %}
<div class="languages-container container-block">

  <h2 class="container-block-title">
    {{ volunteering.title }}
  </h2>

    {% for volunteer in volunteering.info %}
    <div class="item">
      <h4 class="position">{{ volunteer.position }}</h4>
      <h5 class="details">{{ volunteer.details }}</h5>
      <div class="time">{{ volunteer.time }}</div>
    </div><!--//item-->
    {% endfor %}

</div><!--//volunteering-->
{% endif %}
